body {
    box-sizing: border-box;
    line-height: 1.7;
    font-family: 'arial';
    max-width: 650px;
    margin: auto;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

h1 {
    color: #333;
}

main {
    flex: 1;
}

img {
    width: 250px;
}

nav {
    margin: 16px 0;
}

nav a {
    text-decoration: none;
    color: gray;
}

footer {
    border-top: 1px solid #eee;
    color: #888;
    padding: 16px 0;
    margin-top: 16px;
}